@font-face{
	font-family: "Exo";
	src: url('../Fonts/Exo2-VariableFont_wght.ttf') format(truetype);
	font-weight: 700;
}

@font-face{
	font-family: "Signature";
	src: url('../Fonts/MandoulBrushPERSONALUSEONLY-Regular.otf') format(truetype);
	font-weight: 800;
}

.Home{
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.Data{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 600px;
	margin: 0;
	position: absolute;
	top: 45%;
	left: 20%;
	font-family: 'Exo';
	font-size: 40px;
}

.Name_container{
	display: flex;
	align-items: center;
}

.Name{
	padding-left: 15px;
	font-family: 'Signature';
	font-size: 55px;
}

.more_container{
	font-size:medium;
}

.more{
	text-decoration: none;
	color: white;
}

.Typer{
	color: #40f100;
}

.bg{
	position: fixed;
	top: 10vh;
	left: 0;
	z-index: -3;
	background-image: url("../Images/black-13494.gif");
	filter: blur(3px);
	background-size: cover;
	height: 90vh;
}

@keyframes slick{
	0%,100%{
		border-radius: 40% 60% 70% 30%/40% 40% 60% 50%;
	}
	34%{
		border-radius: 70% 30% 50% 50%/30% 30% 70% 70%;
	}
	67%{
		border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
	}
}

.profile_pic {
	position: fixed;
	right: 20%;
	z-index: -2;
	top: 15%;
}

.profile_pic > img{
	height: 80vh;
  	width: 100%;
	animation: slick 7s linear infinite;
}

@media screen and (max-width: 1250px) {
	
	.Data{
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		position: absolute;
		top: 65%;
		left: 5%;
		margin: 0;
		font-family: 'Exo';
		font-size: 30px;
	}
	
	.Name{
		font-size: 40px;
	}
	
	.profile_pic {
		position: absolute;
		top: 20%;
		right: auto;
		transition: 0.5s ease-out;
	}

	.profile_pic > img{
		display: block;
		height: 40vh;
		background-color: aquamarine;
	}
}
